body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0D0D0F; 
}

img { 
    max-width: 100%;
}
h2 { 
    font-size: 1.6rem;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #583D96;
    margin-bottom: 10px;

    &__search {
        input [type=text] {
            padding: 6px;
            border: none;
        }
        input[type=text] {
            float: right;
            padding: 6px 10px;
            border: none;
            cursor: pointer;
        }
    }
}

.wrapper {
    padding: 0 1rem;
}

.news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 2rem;

    &__card {
        text-decoration: none;
        color: #535255;
        background-color: #121214;
        border-radius: 5px;
        border: 1px solid;
        padding: 10px;

        &:hover {
            box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23 );
        }
    }
}

.news-single {
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem;
}